.social-login
    button.social-login__github
        span
            i.fab.fa-github-square
        |   Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook-square
        |   Continue with Facebook